.request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 104px;
}

.request__links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: rgb(155, 156, 156);
  display: flex;
  margin: 40px 0 80px;
}

.request__link {
  text-decoration: none;
  color: #1A1B22;
}

.request__page {
  margin-left: 5px;
}

.request__title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
  color: #1A1B22;
  margin-bottom: 24px;
}

.request__news {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #1A1B22;
  margin-bottom: 4px;
}

.request__mentions {
  margin-bottom: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #1A1B22;
}

.request__number-news_bold {
  font-family: Roboto;
  font-style: bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
}

.request__number-mention_bold {
  font-family: Roboto;
  font-style: bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
}

@media (max-width: 460px) {
  .request {
    margin: 0;
    padding: 16px 16px 24px;
  }

  .request__links {
    display: none;
  }

  .request__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
    margin-bottom: 0;
  }

  .request__news {
    margin: 0;
    padding-top: 20px;
  }

  .request__mentions {
    margin: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 415px) {
  .request {
    margin: 0;
    padding: 16px 16px 24px;
  }

  .request__links {
    display: flex;
    margin: 0;
  }

  .request__title {
    font-size: 30px;
    line-height: 34px;
    padding-top: 32px;
    margin-bottom: 0;
  }

  .request__news {
    margin: 0;
    padding-top: 20px;
  }

  .request__mentions {
    margin: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width: 990px) and (min-width: 768px) {
  .request {
    margin: 0;
    padding: 32px 40px 40px
  }

  .request__links {
    display: flex;
    margin: 0;
  }

  .request__title {
    font-size: 30px;
    line-height: 34px;
    padding-top: 64px;
    margin-bottom: 0;
  }

  .request__news {
    margin: 0;
    padding-top: 20px;
  }

  .request__mentions {
    margin: 0;
    padding-top: 20px;
  }
}
